/* h1 is an (selector)element and the color is an property and here green is the value*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0.5rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;

}

nav{
	border: 2px solid #333;
	border-radius: 2rem;
	max-width: 500px;
	margin: 0 auto 1rem;
	font-size: 2rem;
	line-height: 5rem;


}
h2{
	padding: 1rem;
	background-color: gold;
	border-radius: 2rem 2rem 0 0;
}

ul{
	list-style-type: none;

}
li{
	border-top: 3px solid black;
}
li a{
	display: block;
}

li a, 
li a:visited{
	text-decoration: none;

}
li a:hover, 
li a:focus {
	background-color: black;
	color: #fff;
}


li:last-child a{
	border-radius: 0 0  2rem  2rem;
}