body{
  font-family: Arial, sans-serif;
  background:#dcf3e0;
}

.container{
  text-align:center;
  margin-top:40px;
}

.form-container{
  background:rgb(227, 203, 203);
  width:350px;
  margin:auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0px 5px 12px rgba(0,0,0,0.1);
}

input, textarea{
  width:100%;
  padding:8px;
  margin-top:10px;
}