body{
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #a1ddc0, #c7b8ea);
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
